<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
     <div style=
          "width: 100%;
          max-width: 767px;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #10012D;
          margin: 0px auto;
          padding: 0px 0px 8px 0px;">

          <img src="cid:logo" style="height: 60px;">   
          <h1 style="color:white;">Olá!! {{name}} </h1>
     </div>
     <div style=
          "background-color: #c0eef72b;
           border-radius: 8px;
           width:100%;
           max-width: 767px;
           margin: 0px auto;">

     <p style=
          "letter-spacing: 2px;
          font-size: 16px;
          padding: 16px;
          line-height: 40px;
          font-weight: 600;">

          Seja bem-vindo! Obrigado por se juntar ao time. A WorkMatch foi idealizada para que você, desenvolvedor, possa ter acesso a uma rede capaz de te conectar com o seu propósito.
     
     </p>
     <p style=
          "text-align: center;
           letter-spacing: 1.5px;
           font-size: 16px;
           font-weight: 900;
           color: #00B3C1;
           padding: 0px 0px 8px 0px;">
               Conte sempre conosco!!
     </p>

     </div>
     <div style=
          "width: 100%;
          max-width: 767px;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #060012;
          margin: 0px auto;
          padding: 16px 0px 0px 0px;">

           <img src="cid:logo" style="height: 60px;">
           <p style=
           "font-weight: 600;
           color: #C0EEF7;
           letter-spacing: 2px;"

           >Direitos reservados</p>
     </div>

</body>
</html>