<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style=
    "display: flex;
     flex-direction: column;
     align-items: center;">

    <div style=
        "width: 100%;
        max-width: 767px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #060012;
        margin: 0px auto;
        border-radius:4px;">

           <p style=
            "font-weight: 600;
            color: #C0EEF7;
            letter-spacing: 2px;
            padding: 16px;
            font-size: 20px;
            text-align: center;">

            Olá {{name}}, <br> você solicitou a recuperação de senha?</p>
    </div>
    <div style=
        "display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #c0eef72b;
        border-radius: 8px;
        width:100%;
        max-width: 767px;
        margin: 16px auto;">

    <p style=
        "letter-spacing: 2px;
        font-size: 16px;
        padding: 0px 16px;
        line-height: 30px;
        font-weight: 600;
        ">
        Recebemos uma solicitação para restaurar sua senha de acesso em nosso site.

        Ela ocorreu em <strong>{{date}}</strong> horario oficial de brasília.

        Se você reconhece essa ação.
    </p>
    <p style=
        "letter-spacing: 2px;
        font-size: 16px;
        font-weight: 600;
        "> 
        Clique no botão abaixo para prosseguir:
    </p>
    </div>
        <span style=
        "letter-spacing: 2px;
        font-size: 16px;
        font-weight: 600;
        color:crimson">
        A solicitação se expira em 10 minutos
        </span>
            <a href={{link}} 
            target="_blank"
            style=
            "margin: 8px auto; 
            background-color: #00b4c1b4;
            border-style: none;
            border-radius: 6px;
            padding:8px; 
            text-decoration: none;
            color: whitesmoke;
            font-weight: 600;
            letter-spacing: 1.5px;">
                Resetar Senha
            </a>

    <div style=
        "width: 100%;
        max-width: 767px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #060012;
        margin: 0px auto;
        padding: 16px 0px 0px 0px;
        border-radius:4px;">

        <img src="cid:logo" style="height: 60px">
        <p style=
        "font-weight: 600;
        color: #C0EEF7;
        letter-spacing: 2px;">

        Direitos reservados
        
        </p>
     </div>
</body>
</html>